@font-face {
    font-family: 'HarryPotter';
    src: url('harry-p/HARRYP.ttf');
}

body{
    background-color: rgb(29, 27, 25);
    color:white;
    height:100%;
    margin-left:0;
    margin-right:0;
}


header{
    background-color: rgb(177, 118, 66);
    min-height: 85px;
    max-height:auto;
    width: 70%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    border: 8px outset black;
    & h1{
        color:rgb(87, 37, 7);
        text-align: center;
        font-size:50px;
        font-family: 'HarryPotter', 'Times New Roman', Times, serif;
    }
}

.menu{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom:20px;
    &__item{
        list-style-type: none;
        font-size: 25px;
        padding-right: 30px;
        padding-left:30px;
        & a{
        text-decoration: none;
        color:white;
        }
    }
}

.border_right{
    border-right: 2px solid white;
}


#panier{
    position: fixed;
    z-index:2;
    bottom: 190px;
    right: 0;
    border: 5px solid black;
    min-width : 200px;
    min-height : 50px;
    width : auto;
    height : auto;
    background-color: rgb(177, 118, 66);
    text-align: center;
}

.grid_container{
    display:grid;
    justify-items: center;
    width:90%;
    margin:auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap:50px;
    &__item{
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        color:black;
        text-align: center;
        width: 300px;
        height: 310px;
        padding:15px 15px 0px 15px;
        box-shadow: 10px 5px 5px black;
        transform: scale(1);
        transition: transform 200ms;
        &:hover{
            transform: scale(1.05);
        }
        &__image{
            & img{
                max-width: 280px;
                height : 200px;
            }
        }
        
    }
}

.pet_description{
    padding: 5px 15px 0 15px;
    width:100%;
    display:flex;
    justify-content: space-between;
    &__species{
        font-weight: bold;
    }
}

.pet_ajout{
    background-color: rgb(87, 37, 7);
    height: 100%;
    width:100%;
    display:flex;
    justify-content: center;
    padding: 0px 15px 0px 15px;
    &__small_container{
        width: 90px;
        margin:auto;
        border-radius: 10% / 50%;
        background-color: white;
        &__items{
            margin: 0 7px 0 7px;
            font-size: 20px;
            cursor : pointer;
        }
    }
}



footer{
    margin-top: 80px;
    height: 150px;
    text-align: center;
    padding-top:30px;
    background-color: rgb(177, 118, 66);
}

.location_title{
    font-weight: bold;
}

@media screen and (max-width: 1180px) {

    .grid_container{
        display:grid;
        justify-items: center;
        width:90%;
        margin:auto;
        grid-template-columns: repeat(2,1fr);
  }

}

@media screen and (max-width: 800px) {
    .grid_container{
        display:grid;
        justify-items: center;
        width:90%;
        margin:auto;
        grid-template-columns: 1fr;
  }

}



